@charset "utf-8";
/* CSS Document */
	.position{
		padding:6px 10px 6px 10px;

		border-radius:20px;
		border:inset black 2px;
		background-color:white;
		box-shadow:3px 3px 5px #8D8D8D;
		
		position:absolute;
		text-align:center;
		font:24px;
	}
	.bar{
		background:white;
		margin-bottom:10px;
		padding-top:10px;
		padding-left:10%;
		padding-bottom:10px;
		border-radius:5px;
		box-shadow:0px 0px 5px #8D8D8D;
		height:auto;
	}
	.flexCenter{
		display:flex;
		align-items:center;		
	}
	button{
		min-width:100px;height:50px;font-size:24px;
		clear:both;
	}
	.titleFont{
		font-size:24px;
		font-family:微软雅黑, 黑体, Consolas;
	}
	.infoFont{
		font-size:16px;
		font-family:微软雅黑, 黑体, Consolas;
	}
